<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoreleasepoolMore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7693D4E324EA5F1900A9AB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693D4FE24EA5F1D00A9AB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693D50924EA5F1D00A9AB5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
